body {
	margin-right: 20%;
	margin-left: 20%;
	float: left;
	border: 20px solid #bdc3c7;
	padding: 1.5%; 
	font-family: 'Source Sans Pro', sans-serif;
}
time {
	text-transform: uppercase;
	color: #3498db;
	letter-spacing: 2px;
}
div p:nth-of-type(1){
	border-left: 5px solid #bdc3c7;
	padding-left: 1%;
}
hr {
	border-top: 1px solid #bdc3c7;
}
div{
	text-align: justify;
	text-justify: inter-word;
}
